.parallex-image-one {
  background-image: url('/assets/img/img1.jpeg');
}

.parallex-image-two {
  background-image: url('/assets/img/img2.jpeg');
}

.parallex-image-three {
  background-image: url('/assets/img/img3.jpeg');
}
