<!-- Parallex Image -->
<app-parallex-image [className]="'parallex-image-one'"></app-parallex-image>
<!-- About -->
<section class="section">
  <h2>About</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, rerum sequi molestias ducimus, fugit magni! Voluptas
    iure repellendus aut minus placeat accusamus autem libero sed adipisci temporibus cum, accusantium ipsa vitae cupiditate!
    Cum voluptatibus explicabo esse quidem corporis deleniti sit harum, aliquid, error quos ea consequatur odio minus, porro
    fugiat cupiditate rem. Tempora eveniet voluptatem harum quas unde, adipisci odio cum in deleniti amet, laudantium pariatur
    eligendi ratione voluptate fuga perferendis assumenda id iste. Accusantium, odit, aliquid doloribus blanditiis, cum aut
    eum similique quia cupiditate fugit velit perferendis dignissimos distinctio? Impedit tenetur id vitae, officia velit
    molestiae explicabo aspernatur ullam.
  </p>
</section>
<!-- Parallex Image -->
<app-parallex-image [className]="'parallex-image-two'"></app-parallex-image>
<!-- Browse and Contribute -->
<section class="section">
  <h2>Browse and Contribute</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, rerum sequi molestias ducimus, fugit magni! Voluptas
    iure repellendus aut minus placeat accusamus autem libero sed adipisci temporibus cum, accusantium ipsa vitae cupiditate!
    Cum voluptatibus explicabo esse quidem corporis deleniti sit harum, aliquid, error quos ea consequatur odio minus, porro
    fugiat cupiditate rem. Tempora eveniet voluptatem harum quas unde, adipisci odio cum in deleniti amet, laudantium pariatur
    eligendi ratione voluptate fuga perferendis assumenda id iste. Accusantium, odit, aliquid doloribus blanditiis, cum aut
    eum similique quia cupiditate fugit velit perferendis dignissimos distinctio? Impedit tenetur id vitae, officia velit
    molestiae explicabo aspernatur ullam.
  </p>
</section>
<!-- Parallex Image -->
<app-parallex-image [className]="'parallex-image-three'"></app-parallex-image>
<!-- Footer -->
<section class="section">
  <h2>Footer</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, rerum sequi molestias ducimus, fugit magni! Voluptas
    iure repellendus aut minus placeat accusamus autem libero sed adipisci temporibus cum, accusantium ipsa vitae cupiditate!
    Cum voluptatibus explicabo esse quidem corporis deleniti sit harum, aliquid, error quos ea consequatur odio minus, porro
    fugiat cupiditate rem. Tempora eveniet voluptatem harum quas unde, adipisci odio cum in deleniti amet, laudantium pariatur
    eligendi ratione voluptate fuga perferendis assumenda id iste. Accusantium, odit, aliquid doloribus blanditiis, cum aut
    eum similique quia cupiditate fugit velit perferendis dignissimos distinctio? Impedit tenetur id vitae, officia velit
    molestiae explicabo aspernatur ullam.
  </p>
</section>
