/* You can add global styles to this file, and also import other style files */
:root {
  --navbar-height: 2rem;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

nav {
  height: 2rem;
}

nav > a {
  line-height: 2rem;
}

.parallex {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* for parallex effect */
  background-attachment: fixed;
  min-height: calc(100% - var(--navbar-height));
}

.parallex-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}